body {
    background-color: rgb(82, 139, 154);
}

header {
    text-align: center;
    font-size: x-large;
}

nav {
    text-align: center;
    margin: 10px;
}

nav a {
    display: block;
    padding: 8px;
    background-color: rgb(152, 136, 152);
    display: inline;
}

.aboutme {
    border-style: ridge;
    border-width: 5px;
    padding: 5px;
    max-width: 1000px;
}

.placeholder1 {
    padding: 20px;
    height: fit-content;
    width: fit-content;
    transition: transform .2s;
}

.placeholder1:hover {
    transform: scale(1.2);
    width: 100px;
}

.placeholder2 {
    padding: 20px;
    height: fit-content;
    width: fit-content;
    transition: transform .2s;
}

.placeholder2:hover {
    transform: scale(1.2);
    width: 100px;
}

.placeholder3 {
    padding: 20px;
    height: fit-content;
    width: fit-content;
    transition: transform .2s;
}

.placeholder3:hover {
    transform: scale(1.2);
    width: 100px;
}

img {
    border-style: solid;
    margin: 10px;
}

.contact-me {
    padding: 20px;
}

ul {
    list-style: circle;
}
  
@media screen and (max-width: 768px) {
  
}